Source: puppet-module-camptocamp-kmod
Section: admin
Priority: extra
Maintainer: Scibian Project <packaging@scibian.org>
Uploaders: Thomas Goirand <zigo@debian.org>
Build-Depends: debhelper (>= 9),
               openstack-pkg-tools,
Standards-Version: 3.9.8
Vcs-Browser: https://github.com/scibian/puppet-module-camptocamp-kmod
Vcs-Git: https://github.com/scibian/puppet-module-camptocamp-kmod.git
Homepage: https://forge.puppet.com/camptocamp/kmod

Package: puppet-module-camptocamp-kmod
Architecture: all
Depends: puppet4 | puppet-common,
         puppet-module-puppetlabs-stdlib,
         ${misc:Depends}
Description: Puppet module for managing kmod configuration
 Puppet lets you centrally manage every important aspect of your system using a
 cross-platform specification language that manages all the separate elements
 normally aggregated in different files, like users, cron jobs, and hosts,
 along with obviously discrete elements like packages, services, and files.
 .
 This module handles kernel module loading and configuration. It is perfect for
 manipulating things in /etc/modprobe.d/<module name>.conf.
